<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Patient</title>
    <!-- <link rel="stylesheet" > -->
</head>
<body>
    <h1>Ajouter un Patient</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'add_patient' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter Patient</button>
    </form>

    <!-- ✅ Boutons pour PDF, impression et liste -->
    <a href="{% url 'patient_list' %}"><button> Voir la liste des patients</button></a>
    
</body>
</html>
