<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails du Patient</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Détails du Patient</h1>
    <div class="container">
        <p><strong>Nom :</strong> {{ patient.last_name }}</p>
        <p><strong>Prénom :</strong> {{ patient.first_name }}</p>
        <p><strong>Date de naissance :</strong> {{ patient.date_of_birth }}</p>
        <p><strong>Âge :</strong> {{ patient.age }}</p>
        <p><strong>Sexe :</strong> {{ patient.get_gender_display }}</p>
        <p><strong>Adresse :</strong> {{ patient.address }}</p>
        <p><strong>Téléphone :</strong> {{ patient.phone_number_1 }}</p>
        {% if patient.phone_number_2 %}
            <p><strong>Téléphone secondaire :</strong> {{ patient.phone_number_2 }}</p>
        {% endif %}
        {% if patient.email %}
            <p><strong>Email :</strong> {{ patient.email }}</p>
        {% endif %}
    </div>
    <a href="{% url 'update_patient' patient.pk %}">Modifier</a>
    <a href="{% url 'delete_patient' patient.pk %}">Supprimer</a>
    <a href="{% url 'patient_list' %}">Retour à la liste</a>
    <a href="{% url 'export_patient_pdf' patient.pk %}">Exporter en PDF</a>
    <h2>Dossiers Médicaux</h2>
    <ul>
        {% for record in patient.medicalrecord_set.all %}
            <li>
                <a href="{% url 'export_medical_record_pdf' record.pk %}">Exporter le dossier médical du {{ record.record_date }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
