/* Augmenter la taille des champs de formulaire */
input, select, textarea {
    font-size: 16px;
    padding: 10px;
    height: 200px;
    width: 10%; /* Ajuster la largeur */
}

/* Agrandir les champs de texte */
textarea {
    height: 120px;
    font-size: 18px;
}

/* Agrandir les sélecteurs */
select {
    height: 200px;
}
