<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Dossiers Médicaux</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Liste des Dossiers Médicaux</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Patient</th>
                <th>Date du dossier</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in medical_records %}
                <tr>
                    <td>{{ record.patient.first_name }} {{ record.patient.last_name }}</td>
                    <td>{{ record.record_date }}</td>
                    <td>{{ record.description }}</td>
                    <td>
                        <a href="{% url 'update_medical_record' record.pk %}">Modifier</a>
                        <a href="{% url 'delete_medical_record' record.pk %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_medical_record' %}">Ajouter un nouveau dossier médical</a>
</body>
</html>
